
.wave-hand {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.wave-hand {
    animation-name: wave-animation;  
    animation-duration: 2.5s;      
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;   
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) } 
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
  }

  .btn-primary {
    color: #fff;
    background-color: #e58e26;
    border-color: #e58e26;
  }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    color: #fff;
    background-color: #c4781c;
    border-color: #c4781c;
	}

  
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav a:hover {
  color: white;
  
}

.navContainer{
  margin-top: 46px;
}
.d-flex{
  position: absolute;
  top: 3px;
  left: 600px;
  width: 35px;
}
