/* start:sidenav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb(228, 222, 222);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/* end:sidenav */

/* start:custom-card */
  .custom-card {
    background-color: #fff;
    margin: 0 auto;
    display: table;
    box-shadow: 10px 10px 5px grey !important;
  }
/* end:custom-card */

  .topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }

  
  .btn2{
      
      background: #ddd;
      
      cursor: pointer;
      border-radius: 4px;
      font-size: 17px;
    }
    .btn2:hover {
      background:linear-gradient(to bottom, #fbc2eb 0%, #a6c1ee 100%);
    }
    
   
    .btn1{

        font-size: 17px;
     
    }

    h2{
        text-shadow: 3px 0px grey;
    }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
